<button type="button" class="btn btn-primary" (click)="doClick('Pertamax')">
    Pertamax
  </button>
  <button type="button" class="btn btn-secondary" (click)="doClick('Pertalite')">
    Pertalite
  </button>
  <button type="button" class="btn btn-success" (click)="doClick('Solar')">
    Solar
  </button>
  <button type="button" class="btn btn-danger" (click)="doClick('PertamaxPlus')">
    Pertamax Plus
  </button>
  
  <h3>Bensin yang dipilih: {{ name }}</h3>
  <h3>Harga Bensin: {{ harga }}</h3>
  
  <div class="mb-3">
    <label for="exampleFormControlInput1" class="form-label">Jumlah Liter</label>
    <input
      type="number"
      [(ngModel)]="jumlahLiter"
      class="form-control"
      id="exampleFormControlInput1"
      placeholder="input liter"
    />
  </div>
  
  <div class="mb-3">
    <label for="exampleFormControlInput1" class="form-label">Jumlah Bayar</label>
    <input
      type="number"
      [(ngModel)]="jumlahBayar"
      class="form-control"
      id="exampleFormControlInput1"
      placeholder="input bayar"
    />
  </div>
  
  <div class="col-auto">
    <button type="submit" class="btn btn-success mb-3" (click)="doHitung()">
      Hitung
    </button>
    <h3>Harga yang dibayar: {{ jumlahBayar }}</h3>
    <h3>Kembalian: {{ kembalian }}</h3>
  </div>
  
  <div [ngClass]="testClass" role="alert">
    <p>Uang Kembali</p>
  </div>

<!-- <p>calculate-gasoline works!</p>

<button type="button" class="btn btn-primary" (click)="doClickBensin('pertamax')">Pertamax</button>
<button type="button" class="btn btn-primary" (click)="doClickBensin('pertalite')">Pertalite</button>
<button type="button" class="btn btn-primary" (click)="doClickBensin('solar')">Solar</button>
<button type="button" class="btn btn-primary" (click)="doClickBensin('pertamaxplus')">Pertamax plus</button>

<h1>Bensin yang dipilih : {{ bensin }}</h1>

<h2>Harga : {{ hargaBensin }}</h2>

<div class="mb-3">
    <label for="exampleFormControlInput1" class="form-label">Jumlah liter</label>
    <input type="email"
    class="form-control"
    id="exampleFormControlInput1"
    [(ngModel)]="jumlahBensin"
    placeholder=""
    />
</div>

<div class="mb-3">
    <label for="exampleFormControlInput1" class="form-label">Jumlah bayar</label>
    <input type="email"
    class="form-control"
    id="exampleFormControlInput1"
    [(ngModel)]="totalBayar"
    placeholder=""
    />
</div>

<button type="button" class="btn btn-primary" click)="hitungHarga(jumlahBensin, hargaBensin)">Hitung</button>

<p>Harga yang dibayar : {{ totalHarga }}</p>
<p>Uang kembali : {{ kembali }}</p> -->