<!-- <table class="table">
    <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Name</th>
            <th scope="col">Username</th>
            <th scope="col">Email</th>
            <th scope="col">Address</th>
            <th scope="col">Phone</th>
            <th scope="col">Website</th>
            <th scope="col">Company</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let user of users">
            <th scope="row">{{ user.id }}</th>
            <td>{{ user.name }}</td>
            <td>{{ user.username }}</td>
            <td>{{ user.email }}</td>
            <td>{{ user.address.suite }}, <br/> {{ user.address.street }}, <br/> {{ user.address.city }}, <br/> {{ user.address.zipcode }}</td>
            <td>{{ user.phone }}</td>
            <td>{{ user.website }}</td>
            <td>{{ user.company.name }}, <br/> {{ user.company.bs }}, <br/> {{ user.company.catchPhrase }}</td>
        </tr>
    </tbody>
</table> -->

<!-- <ng-container *ngFor="let user of users">
    <p>{{ user.id }} - {{user.fullName}}</p>
</ng-container> -->