
<!-- Page Wrapper -->
<div id="wrapper">
  <!-- Content Wrapper -->
  <div id="content-wrapper" class="d-flex flex-column">
    <!-- Main Content -->
    <div id="content">
      <div class="row">
        <div class="col-md-2">
          <app-sidebar>
          </app-sidebar>
        </div>
        <div class="col-md-10">
          <app-navbar
            style="position: fixed; z-index: 10"
            class="col-md-10"
          ></app-navbar>

          <!-- Begin Page Content -->
          <div class="container-fluid" style="margin-top: 10vh">
            <!-- Page Heading -->
            <h1 class="h3 mb-2 text-gray-800">Admin Dashboard</h1>

            <p></p>
            <ng-template #addTicketModal>
            <div class="modal-header">
                <h4 class="modal-title pull-left">Add ticket</h4>
                <button type="button" class="btn-close close pull-right" aria-label="Close" (click)="modalRef?.hide()">
                <span aria-hidden="true" class="visually-hidden">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                      <label for="exampleFormControlInput1"
                        >ID Event</label
                      >
                      <input
                        type="text"
                        class="form-control"
                        id="exampleFormControlInput1"
                        placeholder="ID Event"
                        [(ngModel)]="idEvent"
                        name="idEvent"
                      />
                    </div>
                  
                    <div class="form-group">
                      <label for="exampleFormControlInput1"
                        >Section</label
                      >
                      <input
                        type="text"
                        class="form-control"
                        id="exampleFormControlInput1"
                        placeholder="Ex: Blue A Soundcheck"
                        [(ngModel)]="section"
                        name="section"
                      />
                    </div>
                    <div class="form-group">
                      <label for="exampleFormControlTextarea1"
                        >Price</label
                      >
                      <input
                        type="text"
                        class="form-control"
                        id="exampleFormControlInput1"
                        placeholder="Price"
                        [(ngModel)]="price"
                        name="price"
                      />
                    </div>
                    <div class="form-group">
                      <label for="exampleFormControlTextarea1"
                        >Stock</label
                      >
                      <input
                        type="text"
                        class="form-control"
                        id="exampleFormControlInput1"
                        placeholder="Stock"
                        [(ngModel)]="stock"
                        name="stock"
                      />
                    </div>
                    <div class="form-group">
                      <label for="exampleFormControlTextarea1"
                        >For member</label
                      >
                      <input
                        type="text"
                        class="form-control"
                        id="exampleFormControlInput1"
                        placeholder="is for member"
                        [(ngModel)]="forMember"
                        name="forMember"
                      />
                    </div>
                  </form>
                  <button style="float: right;" type="button" class="btn btn-primary" (click)="doAddTicket()">
                    Save
                  </button>
            </div>
            </ng-template>

            <p></p>
            <ng-template #editTicketModal>
            <div class="modal-header">
                <h4 class="modal-title pull-left">Edit ticket</h4>
                <button type="button" class="btn-close close pull-right" aria-label="Close" (click)="modalRef?.hide()">
                <span aria-hidden="true" class="visually-hidden">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form [formGroup]="updateForm" (ngSubmit)="doUpdateTicket()">
                    <div class="form-group">
                      <label for="exampleFormControlInput1"
                        >Section</label
                      >
                      <input
                        type="text"
                        class="form-control"
                        id="exampleFormControlInput1"
                        placeholder="Ex: Blue A Soundcheck"
                        [(ngModel)]="section"
                        name="section"
                        formControlName="section"
                      />
                    </div>
                    <div class="form-group">
                      <label for="exampleFormControlTextarea1"
                        >Price</label
                      >
                      <input
                        type="text"
                        class="form-control"
                        id="exampleFormControlInput1"
                        placeholder="Price"
                        [(ngModel)]="price"
                        name="price"
                        formControlName="price"
                      />
                    </div>
                    <div class="form-group">
                      <label for="exampleFormControlTextarea1"
                        >Stock</label
                      >
                      <input
                        type="text"
                        class="form-control"
                        id="exampleFormControlInput1"
                        placeholder="Stock"
                        [(ngModel)]="stock"
                        name="stock"
                        formControlName="stock"
                      />
                    </div>
                    <div class="form-group">
                      <label for="exampleFormControlTextarea1"
                        >For member</label
                      >
                      <input
                        type="text"
                        class="form-control"
                        id="exampleFormControlInput1"
                        placeholder="is for member"
                        [(ngModel)]="forMember"
                        name="forMember"
                        formControlName="forMember"
                      />
                    </div>
                  
                  <button style="float: right;" type="submit" class="btn btn-primary" (click)="doUpdateTicket()">
                    Save
                  </button>
                </form>
            </div>
            </ng-template>


            <!-- DataTables Example -->
            <div class="card shadow mb-4">
              <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">
                  Ticket Data
                </h6>
              </div>
              <div class="card-body">

                <button type="button" class="btn btn-primary" (click)="openModal(addTicketModal)">
                  <i class="bi bi-plus-lg"></i>
                  Add new ticket
                </button>
                <div class="table-responsive">
                  <p></p>
                  <table
                    class="table table-bordered"
                    id="dataTable"
                    width="100%"
                    cellspacing="0"
                  >
                    <thead>
                      <tr>
                        <th>ID Ticket</th>
                        <th>Event Name</th>
                        <th>Section</th>
                        <th>Price</th>
                        <th>Stock</th>
                        <th>Membership</th>
                        <th>Manage</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let ticket of tickets">
                        <th scope="row">{{ ticket.idTicket }}</th>
                        <td>{{ ticket.event.eventName }}</td>
                        <td>{{ ticket.section }}</td>
                        <td>{{ ticket.price }}</td>
                        <td>{{ ticket.stock }}</td>
                        <td>{{ ticket.forMember }}</td>
                        <td>
                          <!-- <button type="button" class="btn btn-primary" (click)="openModal(editTicketModal)">
                            <i class="bi bi-plus-lg"></i>
                            Edit ticket
                          </button> -->
                          <button
                            style="margin:5px;"
                            type="button"
                            class="btn btn-secondary"
                            (click)="openModal(editTicketModal)"
                            (click)="updateModal(ticket)">
                            <i class="bi bi-pencil-fill"></i> 
                          </button>

                          <button
                            style="margin:5px;"
                            type="button"
                            class="btn btn-danger">
                            <i class="bi bi-trash-fill"></i> 
                          </button>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
          <!-- /.container-fluid -->
        </div>
      </div>
    </div>
    <!-- End of Main Content -->

    <!-- Footer -->
    <footer class="sticky-footer bg-white">
      <div class="container my-auto">
        <div class="copyright text-center my-auto">
          <span>Copyright &copy; Your Website 2020</span>
        </div>
      </div>
    </footer>
    <!-- End of Footer -->
  </div>
  <!-- End of Content Wrapper -->
</div>
<!-- End of Page Wrapper -->

<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" href="#page-top">
  <i class="fas fa-angle-up"></i>
</a>

<!-- Logout Modal-->
<div
  class="modal fade"
  id="logoutModal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
        <button
          class="close"
          type="button"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <div class="modal-body">
        Select "Logout" below if you are ready to end your current session.
      </div>
      <div class="modal-footer">
        <button
          class="btn btn-secondary"
          type="button"
          data-dismiss="modal"
        >
          Cancel
        </button>
        <a class="btn btn-primary" href="login.html">Logout</a>
      </div>
    </div>
  </div>
</div>

<!-- <div class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Ticket</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <form>
                <div class="form-group">
                  <label for="exampleFormControlInput1">Section</label>
                  <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Section">
                </div>
                <div class="form-group">
                  <label for="exampleFormControlTextarea1">Price</label>
                  <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Section">
                </div>
                <div class="form-group">
                    <label for="exampleFormControlTextarea1">Stock</label>
                    <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Section">
                </div>
                  <div class="form-group">
                    <label for="exampleFormControlTextarea1">For member</label>
                    <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Section">
                  </div>
              </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" (click)="doAddTicket()">Add Ticket</button>
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div> -->

  <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
    Launch demo modal
  </button>
  
  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          ...
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Save changes</button>
        </div>
      </div>
    </div>
  </div>