
    <!-- Page Wrapper -->
    <div id="wrapper">
        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">
          <!-- Main Content -->
          <div id="content">
            <div class="row">
              <div class="col-md-2">
                <app-sidebar>
                </app-sidebar>
              </div>
              <div class="col-md-10">
                <app-navbar
                  style="position: fixed; z-index: 10"
                  class="col-md-10"
                ></app-navbar>
  
                <!-- Begin Page Content -->
                <div class="container-fluid" style="margin-top: 10vh">
                  <!-- Page Heading -->
                  <h1 class="h3 mb-2 text-gray-800">Admin Dashboard</h1>
  
                  <p></p>
                  <ng-template #template>
                  <div class="modal-header">
                      <h4 class="modal-title pull-left">Add event</h4>
                      <button type="button" class="btn-close close pull-right" aria-label="Close" (click)="modalRef?.hide()">
                      <span aria-hidden="true" class="visually-hidden">&times;</span>
                      </button>
                  </div>
                  <div class="modal-body">
                      <form [formGroup]="formAdd"
                        (ngSubmit)="doAddEvent()"
                        class="row g-3">
                          <div class="form-group">
                            <label for="exampleFormControlInput1"
                              >Artist name</label
                            >
                            <input
                              type="text"
                              class="form-control"
                              id="exampleFormControlInput1"
                              placeholder="Ex: NCT Dream"
                              formControlName="artistName"
                              name="artistName"
                              [ngClass]="
                              errorControl['artistName'].valid
                                ? 'is-valid'
                                : errorControl['artistName'].dirty ||
                                  errorControl['artistName'].touched
                                ? 'is-invalid'
                                : ''
                              "
                            />
                            <ng-container
                              *ngIf="
                                (errorControl['artistName'].dirty ||
                                  errorControl['artistName'].touched) &&
                                errorControl['artistName'].errors
                              "
                            >
                              <div
                                class="text-danger"
                                *ngIf="errorControl['artistName'].errors['required']"
                              >
                                Please enter artist name
                              </div>
                            </ng-container>
                          </div>

                          <div class="form-group">
                            <label for="exampleFormControlInput1"
                              >Event name</label
                            >
                            <input
                              type="text"
                              class="form-control"
                              id="exampleFormControlInput1"
                              placeholder="Ex: The Dream Show 2"
                              formControlName="eventName"
                              name="eventName"
                              [ngClass]="
                              errorControl['eventName'].valid
                                ? 'is-valid'
                                : errorControl['eventName'].dirty ||
                                  errorControl['eventName'].touched
                                ? 'is-invalid'
                                : ''
                              "
                            />
                            <ng-container
                              *ngIf="
                                (errorControl['eventName'].dirty ||
                                  errorControl['eventName'].touched) &&
                                errorControl['eventName'].errors
                              "
                            >
                              <div
                                class="text-danger"
                                *ngIf="errorControl['eventName'].errors['required']"
                              >
                                Please enter event name
                              </div>
                            </ng-container>
                          </div>

                          <div class="form-group">
                            <label for="exampleFormControlInput1"
                              >Event date</label
                            >
                            <input
                              type="date"
                              class="form-control"
                              id="exampleFormControlInput1"
                              placeholder="Ex: 2022-08-08"
                              formControlName="eventDate"
                              name="eventDate"
                              [ngClass]="
                              errorControl['eventDate'].valid
                                ? 'is-valid'
                                : errorControl['eventDate'].dirty ||
                                  errorControl['eventDate'].touched
                                ? 'is-invalid'
                                : ''
                              "
                            />
                            <ng-container
                              *ngIf="
                                (errorControl['eventDate'].dirty ||
                                  errorControl['eventDate'].touched) &&
                                errorControl['eventDate'].errors
                              "
                            >
                              <div
                                class="text-danger"
                                *ngIf="errorControl['eventDate'].errors['required']"
                              >
                                Please enter event date
                              </div>
                            </ng-container>
                          </div>

                          <div class="form-group">
                            <label for="exampleFormControlInput1"
                              >Event time</label
                            >
                            <input
                              type="time"
                              class="form-control"
                              id="exampleFormControlInput1"
                              placeholder="Ex: 19:00:00"
                              formControlName="eventTime"
                              name="eventTime"
                              [ngClass]="
                              errorControl['eventTime'].valid
                                ? 'is-valid'
                                : errorControl['eventTime'].dirty ||
                                  errorControl['eventTime'].touched
                                ? 'is-invalid'
                                : ''
                              "
                            />
                            <ng-container
                              *ngIf="
                                (errorControl['eventTime'].dirty ||
                                  errorControl['eventTime'].touched) &&
                                errorControl['eventTime'].errors
                              "
                            >
                              <div
                                class="text-danger"
                                *ngIf="errorControl['eventTime'].errors['required']"
                              >
                                Please enter event time
                              </div>
                            </ng-container>
                          </div>

                          <div class="form-group">
                            <label for="exampleFormControlInput1"
                              >Promotor</label
                            >
                            <input
                              type="text"
                              class="form-control"
                              id="exampleFormControlInput1"
                              placeholder="Ex: Dyandra Global"
                              formControlName="promotor"
                              name="promotor"
                              [ngClass]="
                              errorControl['promotor'].valid
                                ? 'is-valid'
                                : errorControl['promotor'].dirty ||
                                  errorControl['promotor'].touched
                                ? 'is-invalid'
                                : ''
                              "
                            />
                            <ng-container
                              *ngIf="
                                (errorControl['promotor'].dirty ||
                                  errorControl['promotor'].touched) &&
                                errorControl['promotor'].errors
                              "
                            >
                              <div
                                class="text-danger"
                                *ngIf="errorControl['promotor'].errors['required']"
                              >
                                Please enter promotor name
                              </div>
                            </ng-container>
                          </div>

                          <div class="form-group">
                            <label for="exampleFormControlInput1"
                              >Venue</label
                            >
                            <input
                              type="text"
                              class="form-control"
                              id="exampleFormControlInput1"
                              placeholder="Ex: ICE BSD"
                              formControlName="venue"
                              name="venue"
                              [ngClass]="
                              errorControl['venue'].valid
                                ? 'is-valid'
                                : errorControl['venue'].dirty ||
                                  errorControl['venue'].touched
                                ? 'is-invalid'
                                : ''
                              "
                            />
                            <ng-container
                              *ngIf="
                                (errorControl['venue'].dirty ||
                                  errorControl['venue'].touched) &&
                                errorControl['venue'].errors
                              "
                            >
                              <div
                                class="text-danger"
                                *ngIf="errorControl['venue'].errors['required']"
                              >
                                Please enter venue
                              </div>
                            </ng-container>
                          </div>

                          <div class="col-12">
                            <label for="exampleFormControlInput1" class="form-label"
                              >Poster event</label
                            >
                            <input
                              type="file"
                              class="form-control"
                              id="poster"
                              accept="image/png, image/jpeg, image/gif"
                              (change)="showPreview($event)"
                              placeholder="Masukkan link poster"
                              formControlName="poster"
                              name="poster"
                              [ngClass]="
                                errorControl['poster'].valid
                                  ? 'is-valid'
                                  : errorControl['poster'].dirty ||
                                    errorControl['poster'].touched
                                  ? 'is-invalid'
                                  : ''
                              "
                            />
                            <ng-container
                              *ngIf="
                                (errorControl['poster'].dirty ||
                                  errorControl['poster'].touched) &&
                                errorControl['poster'].errors
                              "
                            >
                              <div
                                class="text-danger"
                                *ngIf="errorControl['poster'].errors['required']"
                              >
                                Please enter the poster picture.
                              </div>
                            </ng-container>
                            <ng-container *ngIf="image">
                              <img
                                src="{{ image }}"
                                alt="Gambar Kategori"
                                width="70"
                                height="70"
                              />
                            </ng-container>
                          </div>

                        <button style="float: right;" type="submit" class="btn btn-primary" [disabled]="!formAdd.valid" (click)="modalRef?.hide()">
                          Save
                        </button>
                      </form>
                    </div>
                  </ng-template>
                  <ng-template #editModal>
                    <div class="modal-header">
                        <h4 class="modal-title pull-left">Edit event</h4>
                        <button type="button" class="btn-close close pull-right" aria-label="Close" (click)="modalRef?.hide()">
                        <span aria-hidden="true" class="visually-hidden">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form [formGroup]="formEdit"
                          (ngSubmit)="doUpdateEvent()"
                          class="row g-3">
                            <div class="form-group">
                              <label for="exampleFormControlInput1"
                                >Artist name</label
                              >
                              <input
                                type="text"
                                class="form-control"
                                id="exampleFormControlInput1"
                                placeholder="Ex: NCT Dream"
                                formControlName="artistName"
                                name="artistName"
                                [ngClass]="
                                errorControl['artistName'].valid
                                  ? 'is-valid'
                                  : errorControl['artistName'].dirty ||
                                    errorControl['artistName'].touched
                                  ? 'is-invalid'
                                  : ''
                                "
                              />
                              <ng-container
                                *ngIf="
                                  (errorControl['artistName'].dirty ||
                                    errorControl['artistName'].touched) &&
                                  errorControl['artistName'].errors
                                "
                              >
                                <div
                                  class="text-danger"
                                  *ngIf="errorControl['artistName'].errors['required']"
                                >
                                  Please enter artist name
                                </div>
                              </ng-container>
                            </div>
  
                            <div class="form-group">
                              <label for="exampleFormControlInput1"
                                >Event name</label
                              >
                              <input
                                type="text"
                                class="form-control"
                                id="exampleFormControlInput1"
                                placeholder="Ex: The Dream Show 2"
                                formControlName="eventName"
                                name="eventName"
                                [ngClass]="
                                errorControl['eventName'].valid
                                  ? 'is-valid'
                                  : errorControl['eventName'].dirty ||
                                    errorControl['eventName'].touched
                                  ? 'is-invalid'
                                  : ''
                                "
                              />
                              <ng-container
                                *ngIf="
                                  (errorControl['eventName'].dirty ||
                                    errorControl['eventName'].touched) &&
                                  errorControl['eventName'].errors
                                "
                              >
                                <div
                                  class="text-danger"
                                  *ngIf="errorControl['eventName'].errors['required']"
                                >
                                  Please enter event name
                                </div>
                              </ng-container>
                            </div>
  
                            <div class="form-group">
                              <label for="exampleFormControlInput1"
                                >Event date</label
                              >
                              <input
                                type="date"
                                class="form-control"
                                id="exampleFormControlInput1"
                                placeholder="Ex: 2022-08-08"
                                formControlName="eventDate"
                                name="eventDate"
                                [ngClass]="
                                errorControl['eventDate'].valid
                                  ? 'is-valid'
                                  : errorControl['eventDate'].dirty ||
                                    errorControl['eventDate'].touched
                                  ? 'is-invalid'
                                  : ''
                                "
                              />
                              <ng-container
                                *ngIf="
                                  (errorControl['eventDate'].dirty ||
                                    errorControl['eventDate'].touched) &&
                                  errorControl['eventDate'].errors
                                "
                              >
                                <div
                                  class="text-danger"
                                  *ngIf="errorControl['eventDate'].errors['required']"
                                >
                                  Please enter event date
                                </div>
                              </ng-container>
                            </div>
  
                            <div class="form-group">
                              <label for="exampleFormControlInput1"
                                >Event time</label
                              >
                              <input
                                type="time"
                                class="form-control"
                                id="exampleFormControlInput1"
                                placeholder="Ex: 19:00:00"
                                formControlName="eventTime"
                                name="eventTime"
                                [ngClass]="
                                errorControl['eventTime'].valid
                                  ? 'is-valid'
                                  : errorControl['eventTime'].dirty ||
                                    errorControl['eventTime'].touched
                                  ? 'is-invalid'
                                  : ''
                                "
                              />
                              <ng-container
                                *ngIf="
                                  (errorControl['eventTime'].dirty ||
                                    errorControl['eventTime'].touched) &&
                                  errorControl['eventTime'].errors
                                "
                              >
                                <div
                                  class="text-danger"
                                  *ngIf="errorControl['eventTime'].errors['required']"
                                >
                                  Please enter event time
                                </div>
                              </ng-container>
                            </div>
  
                            <div class="form-group">
                              <label for="exampleFormControlInput1"
                                >Promotor</label
                              >
                              <input
                                type="text"
                                class="form-control"
                                id="exampleFormControlInput1"
                                placeholder="Ex: Dyandra Global"
                                formControlName="promotor"
                                name="promotor"
                                [ngClass]="
                                errorControl['promotor'].valid
                                  ? 'is-valid'
                                  : errorControl['promotor'].dirty ||
                                    errorControl['promotor'].touched
                                  ? 'is-invalid'
                                  : ''
                                "
                              />
                              <ng-container
                                *ngIf="
                                  (errorControl['promotor'].dirty ||
                                    errorControl['promotor'].touched) &&
                                  errorControl['promotor'].errors
                                "
                              >
                                <div
                                  class="text-danger"
                                  *ngIf="errorControl['promotor'].errors['required']"
                                >
                                  Please enter promotor name
                                </div>
                              </ng-container>
                            </div>
  
                            <div class="form-group">
                              <label for="exampleFormControlInput1"
                                >Venue</label
                              >
                              <input
                                type="text"
                                class="form-control"
                                id="exampleFormControlInput1"
                                placeholder="Ex: ICE BSD"
                                formControlName="venue"
                                name="venue"
                                [ngClass]="
                                errorControl['venue'].valid
                                  ? 'is-valid'
                                  : errorControl['venue'].dirty ||
                                    errorControl['venue'].touched
                                  ? 'is-invalid'
                                  : ''
                                "
                              />
                              <ng-container
                                *ngIf="
                                  (errorControl['venue'].dirty ||
                                    errorControl['venue'].touched) &&
                                  errorControl['venue'].errors
                                "
                              >
                                <div
                                  class="text-danger"
                                  *ngIf="errorControl['venue'].errors['required']"
                                >
                                  Please enter venue
                                </div>
                              </ng-container>
                            </div>
  
                            <div class="col-12">
                              <label for="exampleFormControlInput1" class="form-label"
                                >Poster event</label
                              >
                              <input
                                type="file"
                                class="form-control"
                                id="poster"
                                accept="image/png, image/jpeg, image/gif"
                                (change)="showPreview($event)"
                                placeholder="Masukkan link poster"
                                formControlName="poster"
                                name="poster"
                                [ngClass]="
                                  errorControl['poster'].valid
                                    ? 'is-valid'
                                    : errorControl['poster'].dirty ||
                                      errorControl['poster'].touched
                                    ? 'is-invalid'
                                    : ''
                                "
                              />
                              <ng-container
                                *ngIf="
                                  (errorControl['poster'].dirty ||
                                    errorControl['poster'].touched) &&
                                  errorControl['poster'].errors
                                "
                              >
                                <div
                                  class="text-danger"
                                  *ngIf="errorControl['poster'].errors['required']"
                                >
                                  Please enter the poster picture.
                                </div>
                              </ng-container>
                              <ng-container *ngIf="image">
                                <img
                                  src="{{ image }}"
                                  alt="Gambar Kategori"
                                  width="70"
                                  height="70"
                                />
                              </ng-container>
                            </div>
  
                          <button style="float: right;" type="submit" class="btn btn-primary" (click)="modalRef?.hide()">
                            Save
                          </button>
                        </form>
                      </div>
                    </ng-template>

                  <ng-template #deleteModal>
                      <div class="modal-header">
                          <h4 class="modal-title pull-left">Delete event</h4>
                          <button type="button" class="btn-close close pull-right" aria-label="Close" (click)="modalRef?.hide()">
                          <span aria-hidden="true" class="visually-hidden">&times;</span>
                          </button>
                      </div>
                      <div class="modal-body">
                          <form [formGroup]="formAdd"
                            (ngSubmit)="doDeleteEvent()"
                            class="row g-3">
                                <label for="exampleFormControlInput1"
                                  >Are you sure want to delete this event?</label
                                >
    
                            <button style="float: right;" type="submit" class="btn btn-danger" (click)="modalRef?.hide()">
                              Delete
                            </button>
                          </form>
                            <!-- <button class="btn btn-light" (click)="modalRef?.hide()">
                              Cancel
                            </button> -->
                          
                        </div>
                  </ng-template>
  
  
                  <!-- DataTables Example -->
                  <div class="card shadow mb-4">
                    <div class="card-header py-3">
                      <h6 class="m-0 font-weight-bold text-primary">
                        Event Data
                      </h6>
                    </div>
                    <div class="card-body">
  
                      <button type="button" class="btn btn-primary" (click)="openModal(template)">
                        <i class="bi bi-plus-lg"></i>
                        Add new event
                      </button>
                      <div class="table-responsive">
                        <p></p>
                        <table
                          class="table table-bordered"
                          id="dataTable"
                          width="100%"
                          cellspacing="0"
                        >
                          <thead>
                            <tr>
                              <th>ID</th>
                              <th>Artist Name</th>
                              <th>Event Name</th>
                              <th>Event Date</th>
                              <th>Event Time</th>
                              <th>Promotor</th>
                              <th>Venue</th>
                              <th>Poster</th>
                              <th>Manage</th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr *ngFor="let evt of event">
                                <th scope="row"> {{ evt.idEvent }}</th>
                              <td>{{ evt.artistName }}</td>
                              <td>{{ evt.eventName }}</td>
                              <td>{{ evt.eventDate }}</td>
                              <td>{{ evt.eventTime }}</td>
                              <td>{{ evt.promotor }}</td>
                              <td>{{ evt.venue }}</td>
                              <td>
                                <a href="#"
                                  ><img
                                    [src]="evt.poster"
                                    alt=""
                                    width="70"
                                    height="70"
                                /></a>
                              </td>
                              <td>
                                <button
                                  style="margin:5px;"
                                  type="button"
                                  class="btn btn-secondary"
                                  (click)="openModal(editModal)"
                                  (click)="doUpdateModal(evt)">
                                  <i class="bi bi-pencil-fill"></i> 
                                </button>
  
                                <button
                                  style="margin:5px;"
                                  type="button"
                                  class="btn btn-danger"
                                  (click)="openModal(deleteModal)"
                                  (click)="doDeleteModal(evt)">
                                  <i class="bi bi-trash-fill"></i> 
                                </button>
                              </td>
                            </tr>
                          </tbody>
                        </table>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- /.container-fluid -->
              </div>
            </div>
          </div>
          <!-- End of Main Content -->
  
          <!-- Footer -->
          <footer class="sticky-footer bg-white">
            <div class="container my-auto">
              <div class="copyright text-center my-auto">
                <span>Copyright &copy; Your Website 2020</span>
              </div>
            </div>
          </footer>
          <!-- End of Footer -->
        </div>
        <!-- End of Content Wrapper -->
      </div>
      <!-- End of Page Wrapper -->
  
      <!-- Scroll to Top Button-->
      <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
      </a>
  
      <!-- Logout Modal-->
      <div
        class="modal fade"
        id="logoutModal"
        tabindex="-1"
        role="dialog"
        aria-labelledby="exampleModalLabel"
        aria-hidden="true"
      >
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
              <button
                class="close"
                type="button"
                data-dismiss="modal"
                aria-label="Close"
              >
                <span aria-hidden="true">×</span>
              </button>
            </div>
            <div class="modal-body">
              Select "Logout" below if you are ready to end your current session.
            </div>
            <div class="modal-footer">
              <button
                class="btn btn-secondary"
                type="button"
                data-dismiss="modal"
              >
                Cancel
              </button>
              <a class="btn btn-primary" href="login.html">Logout</a>
            </div>
          </div>
        </div>
      </div>
  
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
          Launch demo modal
        </button>
        
        <!-- Modal -->
        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                ...
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
              </div>
            </div>
          </div>
        </div>